*{
	padding: 0;
	margin: 0;
	font-family: 'josefin sans',sans-serif;
	box-sizing: border-box;
}
.hey{
	height: 100vh;
	width: 100%;
	background-image:url(rubin.jpg) ;
	background-size: center;

}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 50px;
	padding-left: 8%;
	padding-right: 8%;
}
.logo{
	color: white;
	font-size: 40px;
	letter-spacing: 1px;
	cursor: pointer;
	border-style: solid;
	border-color: white;
	border-radius: 13px;

}
span{
	color: blue;
	background-color:white ;
		border-radius: 13px;

}

.color{
	color: black;
	display: inline-block;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-family: Century Gothic;
	font-size: 20px;

}
nav ul li a:hover{
	color: white;
	transition: .2s;
	outline-style: outset;
	border-color: white;
}
.but{
	background-color: white;
	color: blue;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 30px;
	transition: transform.3s;

}
.but:hover{
	transform: scale(1.2);
}


.content h3{
	color:#424949;
	margin-bottom: 10px;
	margin-top: 10px;
	}
.content{
	position: absolute;
	top: 30%;
	left: 8%;
}
.content h1{
	font-size: 60px;
	color: white;
}
.sub form{
	width: 380px;
	max-width: 100%;
	position: relative;
}
.sub form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid black;
	outline: none;
	border-radius: 33px;
	margin-bottom: 15px;
}
.sub form input:last-child{
	position: absolute;
	display: inline-block;
	outline: none;
	border: 3px solid #1F618D;
	padding: 10px 33px;
	border-radius: 30px;
	background-color: #5DADE2;
	font-size: 11px;
	color: white;
	box-shadow: 0px 0px 5px #D4AC0D, 0px 0px 15px #858585;
	top: 6px;
	right: 6px;
}
.sub form value:last-child{
	font-size: 20px;

}
.helo{
	color: white;
}
.content h2{
	display: inline-block;
}


.about img{
	height: auto;
	width: 400px;
}

.about{
	width: 100%;
	height: 100vh;
	padding: 100px 0px;
	background-image: linear-gradient(#D3D7F5,#6D4C93,#46167F);
}
.text{
	width: 500px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.text h2{
	color: white;
	font-size: 60px;
	margin-bottom: 10px;
}
.text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 20px;
	margin-bottom: 25px;
}
.text p{
	color: white;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
button{
	background-color: white;
	color: black;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 30px;
	border-radius: 25px;
	transition: .4s;
}
button:hover{
	background-color: transparent;
	border: 2px solid blue;
	color: blue;
}
.service{
	background-image: linear-gradient(#3C4481,#19191C,#0D1023);
	width: 100%;
	padding: 100px 0px;
	color: white;
}
.title h2{
	color: white;
	font-size: 60px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
	margin-bottom: 150px;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #D4D7EE;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: black;
}
h5{
	color: black;
	font-size:25px ;
	margin-bottom:10px ;
}
.pra p{
	color: black;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}


.card .button{
	background-color: white;
	color: black;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 20px;
	border-radius: 25px;
	transition: .4s;

}
.card .button:hover{
	background-color: transparent;
	border: 2px solid blue;
	color: blue;
}

.contact{
	width: 100%;
	height: 400px;
	background-image: linear-gradient(#12242D,#02070A);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	border: 4px solid white;

}
.contact p{
	color: white;
	font-size: 23px;
	font-weight: bold;
	margin-bottom: 25px;

}

.contact .but2{
	background-color: white;
	color: black;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 20px;
	border-radius: 25px;
	transition: .4s;

}

.contact .but2:hover{
	background-color: transparent;
	border: 2px solid blue;
	color: blue;
}
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 5px solid white;
}
footer p:nth-child(1)
{
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;

	margin-top: 100px
}
footer p:nth-child(2){
	color: white;
	font-size: 20px;
	width: 500px;
	text-align: center;
	line-height: 25px;;
}
.social{
	display:flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: orange;
	border-radius: 50%;
	margin: 22px;
	color: white;
	text-decoration: none;
	font-size: 30px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
	color: yellow;
}


